.row.px-lg-4
   .col-6
      div.footer-links
         header
            h6.title مشارکت و ایده پردازی
         nav
            ul
               li
                  a(href="#") لیست جمع‌سپاری‌ها
               li
                  a(href="#") راهنمای مشارکت
               li
                  a(href="#") منابع اطلاعاتی
               li
                  a(href="#") درباره سامانه
   .col-6
      div.footer-links
         header
            h6.title پیوندهای منتخب
         nav
            ul
               li
                  a(href="#") دفتر رهبری
               li
                  a(href="#") ریاست جمهوری
               li
                  a(href="#") سازمان برنامه و بودجه
               li
                  a(href="#") موسسه عالی آموزش وپژوهش مدیریت
