.footer-slider-wrapper
   .footer-sliders
      .image-slider.swiper-container
         .swiper-wrapper
            .swiper-slide
               figure
                  img(src='./temp/f-s-1.png', alt='slide 1')
            .swiper-slide
               figure
                  img(src='./temp/f-s-2.png', alt='slide 2')
            .swiper-slide
               figure
                  img(src='./temp/f-s-3.png', alt='slide 3')
            .swiper-slide
               figure
                  img(src='./temp/f-s-4.png', alt='slide 4')

      // .image-slider

      .content-slider.swiper-container
         .swiper-wrapper
            .swiper-slide
               .slider-content
                  p.title حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
            .swiper-slide
               .slider-content
                  p.title پنج مسیری که جمع سپاری با آن می تواند حوزه عمومی را متحول کند
            .swiper-slide
               .slider-content
                  p.title لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
            .swiper-slide
               .slider-content
                  p.title  چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.

         .slider-details
            .footer-swiper-pagination

            .swiper-navigation-wrapper
               span.swiper-navigation.swiper-button-prev
               span.swiper-navigation.swiper-button-next