.social-networks-wrapper
   p.title ما را در شبکه های اجتماعی دنبال کنید
   ul.social-networks
      li
         a(href="#" target="_blank" title="اینستاگرام")
            img(src="./css/icons/instagram.svg" alt="instagram")
      li
         a(href="#" target="_blank" title="لینکدین")
            img(src="./css/icons/linkedin.svg" alt="linkedin")
      li
         a(href="#" target="_blank" title="فیسبوک")
            img(src="./css/icons/facebook.svg" alt="facebook")
      li
         a(href="#" target="_blank" title="توییتر")
            img(src="./css/icons/twitter.svg" alt="twitter")
      li
         a(href="#" target="_blank" title="تلگرام")
            img(src="./css/icons/telegram.svg" alt="telegram")
      li
         a(href="#" target="_blank" title="آپارات")
            img(src="./css/icons/aparat.svg" alt="aparat")