doctype html
html(lang='fa' dir="rtl")
   head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      block styles
      link(rel='stylesheet' href='./css/style.css')
      link(rel='stylesheet' href='./css/packages/aos.css')
      link(rel='stylesheet' href='./css/packages/swiper-bundle.min.css')
      title جمع سپاری
   body

      include header/main-header

      main#main-content
         block main

      include footer/main-footer