
nav.pagination-wrapper
   ul.pagination
      li.page-item
         a.page-link(href='#')
            span <
      li.page-item
         a.page-link(href='#') 1
      li.page-item
         a.page-link(href='#') 2
      li.page-item.active
         a.page-link(href='#') 3
      li.page-item.dots
         a.page-link ...
      li.page-item
         a.page-link(href='#') 23
      li.page-item
         a.page-link(href='#')
            span >
