section#slider-section
   .container
      .row.align-items-center
         .col-12.col-lg-6
            .main-site-text
               header
                  h1.title
                     span.d-inline-block(data-aos="fade-up" data-aos-duration="700") ایده‌پردازی مشارکتی
                     img(src="./css/icons/lamp.svg" alt="lamp" data-aos="fade-up" data-aos-duration="700")
                     span.d-block(data-aos="fade-up" data-aos-duration="700") در مواجه با مسائل سیاستی
               p.description(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100") لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است

               div.buttons
                  a(href="#" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200").btn.btn-lg.btn-outline-white اطلاعات بیشتر
                  a(href="#" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200").btn.btn-lg.btn-primary مشارکت

         .col-12.col-lg-6
            #main-slider(data-aos="fade-up" data-aos-duration="700")
               .swiper-wrapper
                  .swiper-slide
                     figure
                        a(href="#")
                           img(src='./temp/s1.png', alt='slide 1')
                     .slider-content
                        p.sub-title جمع سپاری
                        p.title مشارکت در اصلاح بندهای سند نقشه راهبردی صنعتی و ارتقای تولید
                  .swiper-slide
                     figure
                        a(href="#")
                           img(src='./temp/s2.png', alt='slide 2')
                     .slider-content
                        p.sub-title جمع سپاری
                        p.title مشارکت در اصلاح بندهای سند نقشه راهبردی صنعتی و ارتقای تولید
                  .swiper-slide
                     figure
                        a(href="#")
                           img(src='./temp/s3.png', alt='slide 3')
                     .slider-content
                        p.sub-title جمع سپاری
                        p.title مشارکت در اصلاح بندهای سند نقشه راهبردی صنعتی و ارتقای تولید
                  .swiper-slide
                     figure
                        a(href="#")
                           img(src='./temp/s3.png', alt='slide 3')
                     .slider-content
                        p.sub-title جمع سپاری
                        p.title مشارکت در اصلاح بندهای سند نقشه راهبردی صنعتی و ارتقای تولید
                  .swiper-slide
                     figure
                        a(href="#")
                           img(src='./temp/s3.png', alt='slide 3')
                     .slider-content
                        p.sub-title جمع سپاری
                        p.title مشارکت در اصلاح بندهای سند نقشه راهبردی صنعتی و ارتقای تولید

               // .swiper-wrapper

               .swiper-pagination