section.knowledge-center-section
   .container.position-relative
      .circles-pattern
      .knowledge-center-wrapper
         header.section-title.green-pattern.center.mb-1(data-aos="fade-up" data-aos-duration="700")
            h4.text پایگاه دانش اطلاعات تخصصی
         p.text-16.fw-500.text-center(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100") در موضوع جمع سپاری و سایر حوزه های مرتبط

         .d-flex.justify-content-center.justify-content-lg-between.align-items-center.mt-4(data-aos="fade-up" data-aos-duration="700")
            ul.pill-nav-tabs(id="pill-tab" role="tablist")
               li.nav-item(id="pill-tab-1" data-bs-toggle="tab" data-bs-target="#pill-tab-1-content" role="tab") صنایع
               li.nav-item(id="pill-tab-2" data-bs-toggle="tab" data-bs-target="#pill-tab-2-content" role="tab") مفاهیم
               li.nav-item.active(id="pill-tab-3" data-bs-toggle="tab" data-bs-target="#pill-tab-3-content" role="tab") مقالات

            div.d-none.d-lg-flex(data-aos="fade-up" data-aos-duration="700")
               a(href="#").btn.btn-primary.btn-lg مشاهده همه

         .tab-content.knowledge-center

            .tab-pane.fade(id="pill-tab-1-content")
               .row.justify-content-lg-between.h-scroll-mobile
                  .col-12.col-lg-5.knowledge-item-wrapper(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100")
                     article.knowledge-item
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/knowledge-big.png" alt="").img-fluid
                        header
                           h4.title
                              a(href="#").line-clamp-1 خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی
                        p.description مهم نیست که نخبگان چقدر در حل مشکلات ، پرورش نوآوری ، تصمیم گیری های عاقلانه و حتی پیش بینی آینده بهتر عمل می کنند، اما گروه های بزرگ، همواره باهوش تر از تعداد اندکی نخبه هستند.

                  .col-12.col-lg-5.knowledge-item-wrapper.d-block.d-lg-none(data-aos="fade-up" data-aos-duration="700")
                     article.knowledge-item
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/knowledge-big.png" alt="").img-fluid
                        header
                           h4.title
                              a(href="#").line-clamp-1 خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی
                        p.description مهم نیست که نخبگان چقدر در حل مشکلات ، پرورش نوآوری ، تصمیم گیری های عاقلانه و حتی پیش بینی آینده بهتر عمل می کنند، اما گروه های بزرگ، همواره باهوش تر از تعداد اندکی نخبه هستند.

                  .col-12.col-lg-5.knowledge-item-wrapper.d-block.d-lg-none(data-aos="fade-up" data-aos-duration="700")
                     article.knowledge-item
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/knowledge-big.png" alt="").img-fluid
                        header
                           h4.title
                              a(href="#").line-clamp-1 خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی
                        p.description مهم نیست که نخبگان چقدر در حل مشکلات ، پرورش نوآوری ، تصمیم گیری های عاقلانه و حتی پیش بینی آینده بهتر عمل می کنند، اما گروه های بزرگ، همواره باهوش تر از تعداد اندکی نخبه هستند.

                  // end of right section

                  .col-12.col-lg-6.d-none.d-lg-block
                     article.knowledge-item.small(data-aos="fade-up" data-aos-duration="700")
                        figure.img-wrapper.has-border.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/industry.png" alt="").img-fluid
                        div
                           header
                              h4.title
                                 a(href="#").line-clamp-1 جمع سپاری
                           footer.details
                              p.mb-2
                                 span.key پدیدآورندگان:
                                 span.value نرگس یوسفی، جیمز هالیس
                              p.mb-0
                                 span.key سال انتشار:
                                 span.value 1403

                     article.knowledge-item.small(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100")
                        figure.img-wrapper.has-border.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/industry.png" alt="").img-fluid
                        div
                           header
                              h4.title
                                 a(href="#").line-clamp-1 جمع سپاری
                           footer.details
                              p.mb-2
                                 span.key پدیدآورندگان:
                                 span.value نرگس یوسفی، جیمز هالیس
                              p.mb-0
                                 span.key سال انتشار:
                                 span.value 1403

                     article.knowledge-item.small(data-aos="fade-up" data-aos-duration="700" data-aos-delay="150")
                        figure.img-wrapper.has-border.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/industry.png" alt="").img-fluid
                        div
                           header
                              h4.title
                                 a(href="#").line-clamp-1 جمع سپاری
                           footer.details
                              p.mb-2
                                 span.key پدیدآورندگان:
                                 span.value نرگس یوسفی، جیمز هالیس
                              p.mb-0
                                 span.key سال انتشار:
                                 span.value 1403

               // .row

               .d-blcok.d-lg-none(data-aos="fade-up" data-aos-duration="700")
                  a(href="#").btn.btn-primary.btn-lg.w-100 مشاهده همه

            // end of #pill-tab-1-content


            .tab-pane.fade(id="pill-tab-2-content")
               .row.justify-content-lg-between.h-scroll-mobile
                  .col-12.col-lg-5.knowledge-item-wrapper(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100")
                     article.knowledge-item
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/knowledge-big.png" alt="").img-fluid
                        header
                           h4.title
                              a(href="#").line-clamp-1 خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی
                        p.description مهم نیست که نخبگان چقدر در حل مشکلات ، پرورش نوآوری ، تصمیم گیری های عاقلانه و حتی پیش بینی آینده بهتر عمل می کنند، اما گروه های بزرگ، همواره باهوش تر از تعداد اندکی نخبه هستند.

                  .col-12.col-lg-5.knowledge-item-wrapper.d-block.d-lg-none(data-aos="fade-up" data-aos-duration="700")
                     article.knowledge-item
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/knowledge-big.png" alt="").img-fluid
                        header
                           h4.title
                              a(href="#").line-clamp-1 خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی
                        p.description مهم نیست که نخبگان چقدر در حل مشکلات ، پرورش نوآوری ، تصمیم گیری های عاقلانه و حتی پیش بینی آینده بهتر عمل می کنند، اما گروه های بزرگ، همواره باهوش تر از تعداد اندکی نخبه هستند.

                  .col-12.col-lg-5.knowledge-item-wrapper.d-block.d-lg-none(data-aos="fade-up" data-aos-duration="700")
                     article.knowledge-item
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/knowledge-big.png" alt="").img-fluid
                        header
                           h4.title
                              a(href="#").line-clamp-1 خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی
                        p.description مهم نیست که نخبگان چقدر در حل مشکلات ، پرورش نوآوری ، تصمیم گیری های عاقلانه و حتی پیش بینی آینده بهتر عمل می کنند، اما گروه های بزرگ، همواره باهوش تر از تعداد اندکی نخبه هستند.

                  // end of right section

                  .col-12.col-lg-6.d-none.d-lg-block
                     article.knowledge-item.small(data-aos="fade-up" data-aos-duration="700")
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/concept.png" alt="").img-fluid
                        div
                           header
                              h4.title
                                 a(href="#").line-clamp-1 جمع سپاری
                           p.description ابتکاری از موسسه عالی آموزش وپژوهش مدیریت وبرنامه ریزی در راستای تحقق سیاست‌گذاری باز و مشارکت متخصصان و صاحب‌نظران در مسائل سیاستی کشور و کمک به بهبود فرآیند

                     article.knowledge-item.small(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100")
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/concept.png" alt="").img-fluid
                        div
                           header
                              h4.title
                                 a(href="#").line-clamp-1 جمع سپاری
                           p.description ابتکاری از موسسه عالی آموزش وپژوهش مدیریت وبرنامه ریزی در راستای تحقق سیاست‌گذاری باز و مشارکت متخصصان و صاحب‌نظران در مسائل سیاستی کشور و کمک به بهبود فرآیند

                     article.knowledge-item.small(data-aos="fade-up" data-aos-duration="700" data-aos-delay="150")
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/concept.png" alt="").img-fluid
                        div
                           header
                              h4.title
                                 a(href="#").line-clamp-1 جمع سپاری
                           p.description ابتکاری از موسسه عالی آموزش وپژوهش مدیریت وبرنامه ریزی در راستای تحقق سیاست‌گذاری باز و مشارکت متخصصان و صاحب‌نظران در مسائل سیاستی کشور و کمک به بهبود فرآیند



               // .row

               .d-blcok.d-lg-none(data-aos="fade-up" data-aos-duration="700")
                  a(href="#").btn.btn-primary.btn-lg.w-100 مشاهده همه

            // end of #pill-tab-2-content


            .tab-pane.fade.show.active(id="pill-tab-3-content")
               .row.justify-content-lg-between.h-scroll-mobile
                  .col-12.col-lg-5.knowledge-item-wrapper(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100")
                     article.knowledge-item
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/knowledge-big.png" alt="").img-fluid
                        header
                           h4.title
                              a(href="#").line-clamp-1 خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی
                        p.description مهم نیست که نخبگان چقدر در حل مشکلات ، پرورش نوآوری ، تصمیم گیری های عاقلانه و حتی پیش بینی آینده بهتر عمل می کنند، اما گروه های بزرگ، همواره باهوش تر از تعداد اندکی نخبه هستند.

                  .col-12.col-lg-5.knowledge-item-wrapper.d-block.d-lg-none(data-aos="fade-up" data-aos-duration="700")
                     article.knowledge-item
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/knowledge-big.png" alt="").img-fluid
                        header
                           h4.title
                              a(href="#").line-clamp-1 خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی
                        p.description مهم نیست که نخبگان چقدر در حل مشکلات ، پرورش نوآوری ، تصمیم گیری های عاقلانه و حتی پیش بینی آینده بهتر عمل می کنند، اما گروه های بزرگ، همواره باهوش تر از تعداد اندکی نخبه هستند.

                  .col-12.col-lg-5.knowledge-item-wrapper.d-block.d-lg-none(data-aos="fade-up" data-aos-duration="700")
                     article.knowledge-item
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/knowledge-big.png" alt="").img-fluid
                        header
                           h4.title
                              a(href="#").line-clamp-1 خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی خرد جمعی
                        p.description مهم نیست که نخبگان چقدر در حل مشکلات ، پرورش نوآوری ، تصمیم گیری های عاقلانه و حتی پیش بینی آینده بهتر عمل می کنند، اما گروه های بزرگ، همواره باهوش تر از تعداد اندکی نخبه هستند.

                  // end of right section

                  .col-12.col-lg-6.d-none.d-lg-block
                     article.knowledge-item.small(data-aos="fade-up" data-aos-duration="700")
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/knowledge-small.png" alt="").img-fluid
                        header
                           h4.title
                              a(href="#").line-clamp-2 ویکی دولت: چگونه فناوری می‌تواند دولت را بهتر، دموکراسی قوی‌تر و شهروندان را قدرتمندتر کند؟

                     article.knowledge-item.small(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100")
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/knowledge-small.png" alt="").img-fluid
                        header
                           h4.title
                              a(href="#").line-clamp-2 سیاستگذاری باز(الیف رحمت‌اله قلی‌پور، سیدعلی منصورزاده)

                     article.knowledge-item.small(data-aos="fade-up" data-aos-duration="700" data-aos-delay="150")
                        figure.img-wrapper.img-hover-effect
                           a(href="#").d-block
                              img(src="./temp/knowledge-small.png" alt="").img-fluid
                        header
                           h4.title
                              a(href="#").line-clamp-2 وانمند ساختن حکمرانی باز و مشارکتی- فناوری ها و روش هایی برای مشارکت آنلاین شهروندان در سیاست گذاری عمومی

                  // end of left section

               // end of .row

               .d-blcok.d-lg-none(data-aos="fade-up" data-aos-duration="700")
                  a(href="#").btn.btn-primary.btn-lg.w-100 مشاهده همه

            // end of #pill-tab-3-content

// end of section knowledge-center