section.section.position-relative
   span.circles-pattern-transparent
   .container.position-relative
      span.circles-pattern
      .last-posts-wrapper

         div.d-flex.justify-content-between.align-items-center.mb-4
            div
               header.section-title.green-pattern.mb-1(data-aos="fade-up" data-aos-duration="700")
                  h4.text آخرین جمع سپاری ها
               p.text-16.fw-500.mb-0(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100") با کلیک بر روی موضوعات در جریان جزییات بیشتری از شیوه مشارکت قرار گیرید

            .d-none.d-lg-block(data-aos="fade-up" data-aos-duration="700")
               a(href="#").btn.btn-primary.btn-lg مشاهده همه


         .row.h-scroll-mobile
            .col-12.col-lg-4.post-item-wrapper(data-aos="fade-up" data-aos-duration="700")
               article.post-item
                  figure.img-wrapper.img-hover-effect
                     a(href='#').d-block
                        img(src="./temp/post.png" alt="").img-fluid
                     span.post-status فعال
                  header
                     h3.title
                        a(href="#") اصلاح بندهای سند نقشه راهبردی صنعتی و ارتقای تولید مرتبط با سیاست های کلی

                  p.category
                     img(src="./css/icons/badge-primary.svg")
                     span دبیرخانه شورای عالی هماهنگی اقتصادی

                  .time
                     div
                        p.remaining 6 روز باقی مانده است
                        span.status درحال داوری
                     span.start شروع

               //.post-item
            // .post-item-wrapper

            .col-12.col-lg-4.post-item-wrapper(data-aos="fade-up" data-aos-duration="700")
               article.post-item
                  figure.img-wrapper.img-hover-effect
                     a(href='#').d-block
                        img(src="./temp/post.png" alt="").img-fluid
                     span.post-status فعال
                  header
                     h3.title
                        a(href="#") اصلاح بندهای سند نقشه راهبردی صنعتی و ارتقای تولید مرتبط با سیاست های کلی

                  p.category
                     img(src="./css/icons/badge-primary.svg")
                     span دبیرخانه شورای عالی هماهنگی اقتصادی

                  .time
                     div
                        p.remaining 6 روز باقی مانده است
                        span.status درحال داوری
                     span.start شروع

               //.post-item
            // .post-item-wrapper

            .col-12.col-lg-4.post-item-wrapper(data-aos="fade-up" data-aos-duration="700")
               article.post-item
                  figure.img-wrapper.img-hover-effect
                     a(href='#').d-block
                        img(src="./temp/post.png" alt="").img-fluid
                     span.post-status فعال
                  header
                     h3.title
                        a(href="#") اصلاح بندهای سند نقشه راهبردی صنعتی و ارتقای تولید مرتبط با سیاست های کلی

                  p.category
                     img(src="./css/icons/badge-primary.svg")
                     span دبیرخانه شورای عالی هماهنگی اقتصادی

                  .time
                     div
                        p.remaining 6 روز باقی مانده است
                        span.status درحال داوری
                     span.start شروع

               //.post-item
            // .post-item-wrapper

            .col-12.col-lg-4.post-item-wrapper(data-aos="fade-up" data-aos-duration="700")
               article.post-item
                  figure.img-wrapper.img-hover-effect
                     a(href='#').d-block
                        img(src="./temp/post.png" alt="").img-fluid
                     span.post-status فعال
                  header
                     h3.title
                        a(href="#") اصلاح بندهای سند نقشه راهبردی صنعتی و ارتقای تولید مرتبط با سیاست های کلی

                  p.category
                     img(src="./css/icons/badge-primary.svg")
                     span دبیرخانه شورای عالی هماهنگی اقتصادی

                  .time
                     div
                        p.remaining 6 روز باقی مانده است
                        span.status درحال داوری
                     span.start شروع

               //.post-item
            // .post-item-wrapper

            .col-12.col-lg-4.post-item-wrapper(data-aos="fade-up" data-aos-duration="700")
               article.post-item
                  figure.img-wrapper.img-hover-effect
                     a(href='#').d-block
                        img(src="./temp/post.png" alt="").img-fluid
                     span.post-status فعال
                  header
                     h3.title
                        a(href="#") اصلاح بندهای سند نقشه راهبردی صنعتی و ارتقای تولید مرتبط با سیاست های کلی

                  p.category
                     img(src="./css/icons/badge-primary.svg")
                     span دبیرخانه شورای عالی هماهنگی اقتصادی

                  .time
                     div
                        p.remaining 6 روز باقی مانده است
                        span.status درحال داوری
                     span.start شروع

               //.post-item
            // .post-item-wrapper

            .col-12.col-lg-4.post-item-wrapper(data-aos="fade-up" data-aos-duration="700")
               article.post-item
                  figure.img-wrapper.img-hover-effect
                     a(href='#').d-block
                        img(src="./temp/post.png" alt="").img-fluid
                     span.post-status فعال
                  header
                     h3.title
                        a(href="#") اصلاح بندهای سند نقشه راهبردی صنعتی و ارتقای تولید مرتبط با سیاست های کلی

                  p.category
                     img(src="./css/icons/badge-primary.svg")
                     span دبیرخانه شورای عالی هماهنگی اقتصادی

                  .time
                     div
                        p.remaining 6 روز باقی مانده است
                        span.status درحال داوری
                     span.start شروع

               //.post-item
            // .post-item-wrapper

         // end of posts

         .d-blcok.d-lg-none
            a(href="#").btn.btn-primary.btn-lg.w-100 مشاهده همه

// end of last posts section