section.section.multimedia-section
   .container
      .multimedia-wrapper
         .circles-pattern

         div.d-flex.justify-content-center.justify-content-lg-between.align-items-center
            div
               header.section-title.green-pattern.text-white.mobile-center.mb-1(data-aos="fade-up" data-aos-duration="700")
                  h4.text چند رسانه ای
               p.text-16.fw-500.text-white.mobile-center.mb-0(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100") منتخبی از تجارب موفق جهانی در حوزه های جمع سپاری

            .d-none.d-lg-block(data-aos="fade-up" data-aos-duration="700")
               a(href="#").btn.btn-primary.btn-lg مشاهده همه


         section.multimedia-content
            .row.justify-content-lg-between.align-items-center.flex-column-reverse.flex-lg-row
               .col-12.col-lg-5
                  header(data-aos="fade-up" data-aos-duration="700")
                     h3.title تحول در الگوی سیاست گذاری کشور تایوان تحت تاثیر جمع سپاری
                  p.description(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100") تحول در الگوی سیاست گذاری کشور تایوان تحت تاثیر جمع سپاری طراحی یک فرآیند مشاوره آزاد غیرمتمرکز کهضمن ترکیب تعاملات آنلاین و آفلاین،شهروندان را در کنار دولت تایوان برای مشورت حول مسائل ملی گرد هم می آورد.

               .col-12.col-lg-6
                  .video-wrapper(data-aos="fade-up" data-aos-duration="700")
                     video(src="./temp/iran.mp4" poster="./temp/iran.png" controls)

         section.multimedia-items
            .row.h-scroll-mobile
               .col-12.col-lg-3.multimedia-item-wrapper(data-aos="fade-up" data-aos-duration="700")
                  .multimedia-item
                     figure.img-wrapper.img-hover-effect
                        a(href="#").d-block
                           img(src="./temp/multi1.png" alt="").img-fluid
                     header
                        h5.title
                           a(href="#") پروژه دموکراسی آنلاین
                     p.description جهت مشارکت شهروندان برزیل در طول جلسات اعضای کنگره

               .col-12.col-lg-3.multimedia-item-wrapper(data-aos="fade-up" data-aos-duration="700")
                  .multimedia-item
                     figure.img-wrapper.img-hover-effect
                        a(href="#").d-block
                           img(src="./temp/multi2.png" alt="").img-fluid
                     header
                        h5.title
                           a(href="#") پروژه دموکراسی آنلاین
                     p.description جهت مشارکت شهروندان برزیل در طول جلسات اعضای کنگره

               .col-12.col-lg-3.multimedia-item-wrapper(data-aos="fade-up" data-aos-duration="700")
                  .multimedia-item
                     figure.img-wrapper.img-hover-effect
                        a(href="#").d-block
                           img(src="./temp/multi3.png" alt="").img-fluid
                     header
                        h5.title
                           a(href="#") پروژه دموکراسی آنلاین
                     p.description جهت مشارکت شهروندان برزیل در طول جلسات اعضای کنگره

               .col-12.col-lg-3.multimedia-item-wrapper(data-aos="fade-up" data-aos-duration="700")
                  .multimedia-item
                     figure.img-wrapper.img-hover-effect
                        a(href="#").d-block
                           img(src="./temp/multi4.png" alt="").img-fluid
                     header
                        h5.title
                           a(href="#") پروژه دموکراسی آنلاین
                     p.description جهت مشارکت شهروندان برزیل در طول جلسات اعضای کنگره

         // .multimedia-items


// end of multimedia section