section.section.steps-section
   .container

      div.d-flex.justify-content-center.justify-content-lg-between.align-items-center
         div
            header.section-title.green-pattern.text-white.mobile-center.mb-1(data-aos="fade-up" data-aos-duration="700")
               h4.text گام های مشارکت
            p.text-16.fw-500.text-white.mobile-center.mb-0(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100") برای هر جمع سپاری این مراحل طی خواهد شد

         .d-none.d-lg-block(data-aos="fade-up" data-aos-duration="700")
            a(href="#").btn.btn-white.btn-lg راهنمای اطلاعات

      .steps
         .row
            .col-6.col-lg-3
               .step.top-icon
                  figure.icon(data-aos="fade-up" data-aos-duration="700")
                     img(src="./css/icons/form-white.svg" alt="").white
                     img(src="./css/icons/form-primary.svg" alt="").primary
                  span.number(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100") 01
                  h6.title(data-aos="fade-up" data-aos-duration="700" data-aos-delay="150") ثبت نام در سامانه
                  p.description(data-aos="fade-up" data-aos-duration="700" data-aos-delay="200") با شماره تلفن همراه و دریافت رمز ورود
            // end of one step

            .col-6.col-lg-3
               .step.bottom-icon.d-none.d-lg-block
                  span.number(data-aos="fade-up" data-aos-duration="700") 02
                  h6.title(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100") ثبت ایده و مشارکت در جمع سپاری
                  p.description(data-aos="fade-up" data-aos-duration="700" data-aos-delay="150") پاسخ به پرسش ها، ثبت نقد و نظر، ویرایش نکات و نظرهای ارسالی
                  figure.icon.top(data-aos="fade-up" data-aos-duration="700" data-aos-delay="200")
                     img(src="./css/icons/leadership-white.svg" alt="").white
                     img(src="./css/icons/leadership-primary.svg" alt="").primary

               .step.top-icon.d-block.d-lg-none
                  figure.icon.top(data-aos="fade-up" data-aos-duration="700")
                     img(src="./css/icons/leadership-white.svg" alt="").white
                     img(src="./css/icons/leadership-primary.svg" alt="").primary
                  span.number(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100") 02
                  h6.title(data-aos="fade-up" data-aos-duration="700" data-aos-delay="150") ثبت ایده و مشارکت در جمع سپاری
                  p.description(data-aos="fade-up" data-aos-duration="700" data-aos-delay="200") پاسخ به پرسش ها، ثبت نقد و نظر، ویرایش نکات و نظرهای ارسالی
            // end of one step

            .col-6.col-lg-3
               .step.top-icon
                  figure.icon(data-aos="fade-up" data-aos-duration="700")
                     img(src="./css/icons/meeting-white.svg" alt="").white
                     img(src="./css/icons/meeting-primary.svg" alt="").primary
                  span.number(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100") 03
                  h6.title(data-aos="fade-up" data-aos-duration="700" data-aos-delay="150") فرآیند داوری و اعلام نتایج
                  p.description(data-aos="fade-up" data-aos-duration="700" data-aos-delay="200") ارائه بازخورد توسط کارشناسان موسسه و ویرایش نظرات
            // end of one step

            .col-6.col-lg-3
               .step.bottom-icon.d-none.d-lg-block
                  span.number(data-aos="fade-up" data-aos-duration="700") 04
                  h6.title(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100") نمایش اثر سیاستی
                  p.description(data-aos="fade-up" data-aos-duration="700" data-aos-delay="150") اعلام تغییرات اعمال شده حاصل از مشارکت ها
                  figure.icon.top(data-aos="fade-up" data-aos-duration="700" data-aos-delay="200")
                     img(src="./css/icons/public-relations-white.svg" alt="").white
                     img(src="./css/icons/public-relations-primary.svg" alt="").primary

               .step.top-icon.d-blcok.d-lg-none
                  figure.icon.top(data-aos="fade-up" data-aos-duration="700")
                     img(src="./css/icons/public-relations-white.svg" alt="").white
                     img(src="./css/icons/public-relations-primary.svg" alt="").primary
                  span.number(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100") 04
                  h6.title(data-aos="fade-up" data-aos-duration="700" data-aos-delay="150") نمایش اثر سیاستی
                  p.description(data-aos="fade-up" data-aos-duration="700" data-aos-delay="200") اعلام تغییرات اعمال شده حاصل از مشارکت ها
            // end of one step

      // .steps

      .d-block.d-lg-none.mt-4(data-aos="fade-up" data-aos-duration="700")
         a(href="#").btn.btn-white.btn-lg.w-100 راهنمای اطلاعات

// end of section steps