aside.profile-sidebar
   .white-box.small
      ul
         li.active
            a(href="profile.html")
               img(src="./css/icons/user-octagon.svg" alt="user icon").user-icon
               | پروفایل
         li
            a(href="my-contributes.html")
               img(src="./css/icons/like-tag.svg" alt="like icon").user-icon
               | مشارکت های من
         li
            a(href="tickets.html")
               img(src="./css/icons/message-text.svg" alt="message icon").user-icon
               | درخواست های پشتیبانی
         li
            a(href="#")
               img(src="./css/icons/logout.svg" alt="logout icon").user-icon
               | خروج